name: ML Model Training Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
        
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        
      - name: Train ML Model
        run: |
          python train.py

      - name: Start API
        run: |
          uvicorn app:app --host 127.0.0.1 --port 8000 &
          sleep 10